.secondary-btn{
    background-color:var(--bs-secondary-color);
    color: var(--text-white);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    margin: 5px;
}